body {
    font-family: "Open Sans";
}

.wrapper {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

/* ---------- HEADER START ----------- */

.header {
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #EBE8F4;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-decoration: none;
    color: #22202E;
    font-family: Montserrat;
    font-size: 24px;
}

.header-nav-list {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 44px;
    margin: 0;
}

.header-nav-link {
    text-decoration: none;
    color: #726E8D;
    white-space: nowrap;
}

.header-nav-right {
    display: flex;
    gap: 16px;
}

.header-nav-link {
    width: 16px;
    height: 16px;
}

.search {
    background-image: url("../img/search.svg");
}

.cart {
    background-image: url("../img/shopping--cart.svg");
}

.profile {
    background-image: url("../img/user--avatar.svg");
}

/* ---------- END HEADER ----------- */

/* ---------- PRODUCT SECTION START ----------- */

.product-section {
    padding-top: 80px;
    padding-bottom: 40px;
}

.product-section-title {
    margin-top: 0;
    margin-bottom: 24px;
    color: #2A254B;
    font-family: Montserrat;
    font-size: 36px;
    line-height: 140%; /* 50.4px */
    text-align: center;
}

/* ---------- PRODUCT MENU START ----------- */

.select-container {
    display: flex;
    justify-content: space-between;
    padding: 5px 24px;
    white-space: nowrap;
}

.filters-left-menu {
    margin: 0;
    padding: 12px 24px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.filters-left-menu select {
    width: 100px;
    border: none;
    background: none;
    outline: none;
}

.filters-right-menu {
    margin: 0;
    padding: 12px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.filters-right-menu select {
    width: 100px;
    border: none;
    background: none;
    outline: none;
}

/* ---------- PRODUCT MENU END ----------- */

/* ---------- PRODUCT CONTAINER START ----------- */


.product-card-container {
    margin-top: 28px;
    margin-bottom: 48px;
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    justify-items: center;
}

.product-card-link {
    text-decoration: none;
}

.product-card-title {
    display: block;
    margin-top: 24px;
    color: #2A254B;
    font-family: Montserrat;
    font-size: 20px;
    line-height: 140%; /* 28px */
}

.product-card-price {
    display: block;
    margin-top: 8px;
    color: #2A254B;
    font-size: 18px;
    line-height: 150%; /* 27px */
}

.product-section-button {
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    padding: 16px 32px;
    color: #2A254B;
    line-height: 150%; /* 24px */
}

/* ---------- PRODUCT CONTAINER END ----------- */

/* ---------- PRODUCT SECTION END ----------- */

/* ---------- SUBSCRIBE SECTION START ----------- */

.subscribe {
    background-image: url("../img/join-background.jpg");
    background-position: bottom left;
    background-size: 50vw;
}

.subscribe-container {
    margin-left: auto;
    width: 50vw;
    height: 30vw;
    min-height: 400px;
    max-height: 520px;
    padding: 70px 50px;
}

.subscribe-title {
    margin-top: 0;
    margin-bottom: 21px;
    color: #2A254B;
    font-family: Montserrat;
    font-size: 32px;
}

.subscribe-text {
    margin-top: 0;
    margin-bottom: 120px;
    margin-right: 70px;
    color: #2A254B;
    line-height: 150%; /* 24px */
    justify-self: flex-start;
}

.subscribe-button {
    bottom: 70px;
    left: 70px;
    border: none;
    padding: 16px 32px;
    background-color: #2A254B;
    color: #FFF;
    line-height: 150%; /* 24px */
}

/* ---------- SUBSCRIBE SECTION END ----------- */

/* ---------- FOOTER START ----------- */

.footer {
    background: #2A254B;
}

.footer-navigation {
    border-bottom: 1px solid #4E4D93;
    padding-top: 58px;
    padding-bottom: 48px;
}

.footer-links-block {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: space-between;
    gap: 20px;
    white-space: nowrap;
}

.footer-list ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-list span {
    font-family: Montserrat;
    line-height: 20px;
    color: #FFFFFF;
}

.footer-list-link {
    text-decoration: none;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}

.map {
    grid-column-start: 4;
    grid-column-end: 7;
    width: 100%;
    height: auto;
}

.social {
    padding-top: 22px;
    padding-bottom: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copy {
    color: #FFF;
    font-size: 14px;
}

.social-links-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.social-link {
    text-decoration: none;
    display: block;
    width: 22px;
    height: 22px;
    background-size: contain;
    background-position: center;
}

.linkedin {
    background-image: url("../img/logo--linkedin.svg");
}

.facebook {
    background-image: url("../img/logo--facebook.svg");
}

.instagram {
    background-image: url("../img/logo--instagram.svg");
}

.skype {
    background-image: url("../img/logo--skype.svg");
}

.twitter {
    background-image: url("../img/logo--twitter.svg");
}

.pinterest {
    background-image: url("../img/logo--pinterest.svg");
}
/* ---------- FOOTER END ----------- */